/* Set the image background for the footer */
/* Set the image background for the entire site */
.md-footer {
  background-image: url('./connectedcars.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
/* Set the font family and size for the entire page */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}




